#body{
 padding: 0px;
 margin: 0px;
 width: 100%;
 height: 100%;
}

#content{
 width: 100vw;
 height: 100vh;
 position: relative;
}

.box {
    z-index: 0;
}

.box.active {
    position: absolute;
    z-index: 9000;
}

#containerleft{
  width:100vw;
  height:100vh;
}

#box1{
 width: 66%;
 height: 50%;
 background: #B9E3C6;
 float:left;
 z-index: 99;
}

#box2 {
 width: 33%;
 height: 25%;
 background: #37ECBA;
 float: left;
}

#box3{
 width: 33%;
 height: 25%;
 background: #37A4E5;
 float: left;
}

#box4{
 width: 33%;
 height: 50%;
 background: #84F0D2;
 float: left;
}
#box5{
 width: 33%;
 height: 50%;
 background: #FFFFF2;
 float: left;
}
#box6{
 width: 33%;
 height: 50%;
 background: #1FE4AD;
 float: left;
}
