html{
  background: #747274;
}

#body{
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

#content{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.box {
  z-index: 0;
}

.box.active {
  position: absolute;
  z-index: 9000;
}

#containerleft{
  width:100vw;
  height:100vh;
}

#containerleft::after{
  content: "";
  display: table;
  clear: both;
}

#box1{
  opacity: .9;
  width: 66%;
  height: 100%;
  background: #3E482E;
  float:left;
  transition: all 150ms;
}

#box2 {
  opacity: .8;
  width: 33%;
  height: 25%;
  background: #617147;
  float: left;
}

#box3{
  opacity: .8;
  width: 33%;
  height: 25%;
  background: #98B06F;
  float: left;
}

#box4{
  opacity: .9;
  width: 33%;
  height: 25%;
  background: #B6DC76;
  float: left;
}

#box5{
  opacity: .9;
  width: 33%;
  height: 25%;
  background: #DBFF76;
  float: left;
}

#box5:hover, #box4:hover, #box3:hover, #box2:hover{
  transform: scale(1.02);
}
